/* Top relation select property for peek render */

.notion-peek-renderer div[style*="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: flex; align-items: center; position: relative; border-radius: 4px; width: 100%; height: 32px; padding: 2px 4px 2px 2px; font-size: 14px; margin: 0px; cursor: pointer; user-select: none; opacity: 1;"] {
	height: 26px !important;
}
.notion-peek-renderer div[style*="right: 6px; background: white; box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px -2px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px; position: absolute; top: 4px; display: inline-flex; flex-shrink: 0; border-radius: 4px; overflow: hidden; padding: 2px; gap: 1px;"] {
	height: 18px !important;
}
.notion-peek-renderer div[style*="display: flex; align-items: center; color: rgb(120, 119, 116); height: 34px; width: 160px; max-width: 160px; min-width: 0px;"] {
	width: 100px !important;
}

.notion-table-view * {
    text-overflow: clip !important;
}

.notion-scroller .vertical {
	max-height: 525px !important;
/* 	width: 400px !important; */
}


div[style*="user-select: none; transition: background 20ms ease-in; cursor: pointer; position: relative; font-size: 14px; overflow: hidden; display: inline-block; border-radius: 4px; width: 100%; min-height: 34px;"] > div:not(:has(span)) {
  text-indent: -9999px;
  overflow: hidden;
}

div[style*="user-select: none; transition: background 20ms ease-in; cursor: pointer; position: relative; font-size: 14px; overflow: hidden; display: inline-block; border-radius: 4px; width: 100%; min-height: 34px;"] > div > * {
  text-indent: 0px;
  overflow: hidden;
}

div[style*="border-radius: 6px; background: white; backdrop-filter: none; position: relative; max-width: calc(-24px + 100vw); box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px; overflow: hidden; width: 400px; min-height: 65px;"] {
	width: 540px !important;
}

.notion-scroller .vertical > div > div:nth-of-type(2) {
/* 	display: none !important; */
}

.notion-table-view-cell * , .notion-scroller * {
	background-image: none !important;
/* 	font-weight: normal !important; */
}

.notion-collection_view-block.notion-selectable > div > div:nth-of-type(1) > div:nth-of-type(4) > div:nth-of-type(1) {
	position: absolute;
    z-index: 1000;
	margin-top: -70px !important;
}

.notion-collection_view-block.notion-selectable > div > div:not(:nth-of-type(1)) > div:nth-of-type(4) > div:nth-of-type(1) { 
    display: none !important;
}

/* .notion-table-view {
	padding-top: 20px;
} */

.notion-table-view:not(.layout-center-peek .notion-table-view) {
	padding-top: 20px;
}

.notion-table-view div[style*="position: relative; border-radius: 1000px; background-color: rgba(199, 198, 196, 0.5); width: 100%; overflow: hidden; height: 4px; min-height: 4px;"] {
	height: 12px !important;
	opacity: 0.5;
}

/* .notion-table-view div[style*="position: relative; border-radius: 1000px; background-color: rgba(199, 198, 196, 0.5); width: 100%; overflow: hidden; height: 4px; min-height: 4px;"] > div {
	border-radius: 1px !important;
}
 */

.notion-selectable .notion-collection_view-block > div[style*="display: flex; align-items: center; height: 40px; left: 96px; width: 100%;"]{
	opacity: 0.5;
	
}

.notion-collection-view-item-add > div {
	background: hsla(193, 100%, 25%, .06) !important;
	color: #00000082 !important;
}

.notion-table-view .notion-selectable-halo {
	opacity: 0.3 !important;
}

.notion-table-view * {
	border-color: transparent !important;
}

.notion-table-view-cell {
    outline: 0.25px solid hsl(0, 0%, 94%);
    outline-offset: 0px !important; 
/* 	height: 30px !important; */
}

.notion-collection_view-block.notion-selectable > div > div:not(:nth-of-type(1)) > div:nth-of-type(4) > div:nth-of-type(1) { 
/*     border-bottom: 0.5px solid #00000014; */
}

div[style="display: flex; justify-content: end; position: absolute; top: 4px; right: 0px; left: 0px; z-index: 2; margin: 0px 2px; pointer-events: none;"] {
    display: none !important;
}


.notion-table-view-header-cell > div > div > div {
    pointer-events: none;
}




div[style="display: flex; align-items: center; position: sticky; left: 96px; overflow: hidden;"] {
/* 	background: #00d5ff40; */
	margin-top:16px;
	border-radius: 4px;
	height: 22px;
/* 	width: 180px; */
	margin-left: -28px;
/*     animation: pastelRainbowBg 60s infinite linear;
    animation-delay: -30s; */
	margin-bottom:8px;
}

div[style="display: flex; align-items: center; position: sticky; left: 96px; overflow: hidden;"] > div > div:nth-of-type(2) > div > div {
	width: 800px !important;
	height: 25px !important;
	border-radius: 9px !important;
	padding-left: 8px !important;
}


div[style="display: flex; align-items: center; position: sticky; left: 96px; overflow: hidden;"] > div *{
/* 	background: transparent !important; */
/* 	width: 100px; */
}

.notion-table-view-header-row > div  {
/* 	background: hsla(278, 100%, 24%, .27) !important; */
/* 	height:22px; */
	margin-top: 6px !important;
	border-radius: 4px;
    animation: pastelRainbow 60s infinite linear;
    animation-delay: -30s;
}

.notion-table-view-cell, .notion-table-view-header-cell {
    margin: 0px !important;
/*     margin-top: -1px !important; */
}

/* h1, h4 {
	color: hsl(174, 72%, 50%);
}
 */

@keyframes pastelShadow {
  0%   { box-shadow: 0px 0px 5px hsl(174, var(--sat, 60%), var(--lum, 80%)); }  /* Pastel Teal */
  33%  { box-shadow: 0px 0px 5px hsl(220, var(--sat, 60%), var(--lum, 80%)); }  /* Pastel Blue */
  66%  { box-shadow: 0px 0px 5px hsl(330, 80%, var(--lum, 80%)); }             /* Pastel Pink */
  100% { box-shadow: 0px 0px 5px hsl(174, var(--sat, 60%), var(--lum, 80%)); }  /* Back to Teal */
}


.notion-peek-renderer > div:nth-of-type(2)  {
/*   box-shadow: 0px 0px 5px rgba(70, 131, 167, .65)!important; */
  animation: pastelShadow 60s infinite linear !important;
	animation-delay: -30s;
}



@keyframes pastelRainbow {
    0%   { color: hsl(174, var(--sat, 60%), var(--lum, 80%)); }  /* Pastel Teal */
    20%  { color: hsl(220, var(--sat, 60%), var(--lum, 80%)); }  /* Pastel Blue */
    50%  { color: hsl(330, var(--sat, 60%),  var(--lum, 80%)); }  /* Pastel Pink */
    80%  { color: hsl(220, var(--sat, 60%),  var(--lum, 80%)); }  /* Pastel Pink */
    100% { color: hsl(174, var(--sat, 60%), var(--lum, 80%)); }  /* Back to Teal */
}



@keyframes pastelRainbow {
    0%   { color: hsl(174, var(--sat, 60%), calc(var(--lum, 80%)*0.8)); }  /* Pastel Teal */
    33%  { color: hsl(220, var(--sat, 60%), calc(var(--lum, 80%)*0.8)); }  /* Pastel Blue */
    66%  { color: hsl(330, 80%,  var(--lum, 80%)); }  /* Pastel Pink */
    100% { color: hsl(174, var(--sat, 60%), calc(var(--lum, 80%)*0.8)); }  /* Back to Teal */
}


@keyframes pastelRainbowBg {
    0%   { background-color: hsla(174, var(--sat, 60%), var(--lum, 80%), 40%); }  /* Pastel Teal */
    33%  { background-color: hsla(220, var(--sat, 60%), var(--lum, 80%), 40%); }  /* Pastel Blue */
    66%  { background-color: hsla(330, 80%,  var(--lum, 80%), 40%); }  /* Pastel Pink */
    100% { background-color: hsla(174, var(--sat, 60%), var(--lum, 80%), 40%); }  /* Back to Teal */
}


    80%  { color: hsl(40, var(--sat, 60%), var(--lum, 80%)); }   /* Pastel Yellow */


.notion-enable-hover {
	--lum: 50%; /* Define luminance here */
    --sat: 60%; /* Define saturation here */
    animation: pastelRainbow 60s infinite linear;
    animation-delay: -30s;
}

h1, h2, h3, h4 {
    --lum: 50%; /* Define luminance here */
    --sat: 60%; /* Define saturation here */
    animation: pastelRainbow 60s infinite linear;
    animation-delay: -30s;
}




div[style="user-select: none; transition: background 20ms ease-in; cursor: pointer; display: flex; align-items: center; width: 100%; height: 100%; padding-left: 8px; padding-right: 8px; background: rgba(55, 53, 47, 0.06);"] {
	background: transparent !important;
}


input[type="checkbox"] {
    display: none;
}

/* .layout.layout-wide {
    --margin-width: 50px !important;
} */

/* ==========================================================================
   Notion Custom Styles
   Last Updated: 2025-01-23
   Description: Custom styles for Notion to enhance UI and readability
   ========================================================================== */

/* =============================
   Layout & Container Styles
   ============================= */
.notion-frame {
    height: 100vh !important;
    --color: rgba(255, 255, 255, 0.96);
}

.notion-topbar {
    display: none;
}


/* =============================
   Common Background Properties
   ============================= */
.notion-peek-renderer > div:nth-child(2),
.notion-frame {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

/* =============================
   Custom Color Overrides
   ============================= */
/* Blue */
*[style*='color:rgba(51, 126, 169, 1)'],
*[style*='color: rgb(51, 126, 169)'] {
    color: hsl(194, 70%, 40%) !important;
}

/* Green */
*[style*='color:rgba(68, 131, 97, 1)'],
*[style*='color: rgb(68, 131, 97)'] {
    color: hsl(150, 60%, 30%) !important;
}

/* Orange */
*[style*='color:rgba(217, 115, 13, 1)'] {
    color: hsl(30, 89%, 40%) !important;
}

/* Red */
*[style*='color:rgba(212, 76, 71, 1)'] {
    color: hsl(2, 100%, 40%) !important;
}

/* Gray */
*[style*='color:rgba(120, 119, 116, 1)'],
*[style*='color: rgb(120, 119, 116)'] {
    color: hsl(2, 0%, 73%) !important;
}

/* =============================
   Background Color Overrides
   ============================= */
*[style*='background: rgb(237, 243, 236);'] {
    background: hsla(130, 100%, 90%, .31) !important;
}

*[style*='background: rgb(231, 243, 248);'] {
    background: hsla(198, 100%, 50%, .06) !important;
}

*[style*='background: rgb(247, 246, 243);'] {
    background: hsla(198, 65%, 52%, .06) !important;
}

*[style*='background: rgb(253, 235, 236);'] {
    background: hsla(0, 100%, 52%, .04) !important;
}

*[style*='background: rgba(249, 238, 243, 0.8);'] {
    background: hsla(332, 100%, 52%, .06) !important; /* Pink */
}

*[style*='background: rgba(244, 240, 247, 0.8);'] {
    background: hsla(279, 100%, 50%, .04) !important; /* Purple */
}

*[style*='background: rgb(251, 243, 219);'] {
    background: hsla(53, 100%, 50%, .08) !important; /* Yellow */
}

/* =============================
   List Styles
   ============================= */

/* Common list spacing */
.notion-numbered_list-block.notion-selectable > div,
.notion-bulleted_list-block.notion-selectable > div,
.notion-to_do-block.notion-selectable > div {
    --factor: -5px;
    margin-bottom: calc(4px + var(--factor)) !important;
    margin-top: calc(-8px - var(--factor)) !important;
    margin-left: -4px !important;
}

.notion-toggle-block.notion-selectable > div {
    --factor: 1px;
    margin-bottom: calc(-4px + var(--factor)) !important;
    margin-top: calc(0px - var(--factor)) !important;
    margin-left: -4px !important;
}

/* Nested list spacing */


.notion-bulleted_list-block.notion-selectable > div > div > .notion-bulleted_list-block.notion-selectable:nth-of-type(2) > div,
.notion-numbered_list-block.notion-selectable > div > div > .notion-bulleted_list-block.notion-selectable:nth-of-type(2) > div,

.notion-bulleted_list-block.notion-selectable > div > div > .notion-numbered_list-block.notion-selectable:nth-of-type(2) > div,
.notion-numbered_list-block.notion-selectable > div > div > .notion-numbered_list-block.notion-selectable:nth-of-type(2) > div,


.notion-toggle-block.notion-selectable > div > div > div > div > .notion-bulleted_list-block.notion-selectable:nth-of-type(1) > div,
.notion-toggle-block.notion-selectable > div > div > div > div > .notion-numbered_list-block.notion-selectable:nth-of-type(1) > div,
.notion-to_do-block.notion-selectable > div > div > .notion-bulleted_list-block.notion-selectable:nth-of-type(2) > div {
    padding-top: 5px !important;
    padding-bottom: 1px;
}

.notion-numbered_list-block.notion-selectable .notion-list-item-box-left {
	padding-bottom: 4px;
}

.notion-bulleted_list-block.notion-selectable .notion-list-item-box-left {
	padding-bottom: 2px;
}


/* =============================
   Table of Contents
   ============================= */
.notion-table_of_contents-block a * {
    text-decoration: none !important;
}

/* =============================
   Table Styles
   ============================= */


.notion-table-view div[style*="user-select: none; transition: background 20ms ease-in; cursor: pointer; position: relative; display: block; font-size: 14px; overflow: clip; width: 100%; white-space: nowrap; height: 32px; min-height: 32px; padding: 6px 8px;"] {
	padding: 6px 6px!important;
}
.notion-table-view div[style*="user-select: none; transition: background 20ms ease-in; cursor: pointer; position: relative; display: block; font-size: 14px; overflow: clip; width: 100%; white-space: nowrap; height: 32px; min-height: 32px; padding: 6px 8px;"] > div > div >  div[style*="display: flex; align-items: center; flex-shrink: 0; min-width: 0px; max-width: 100%; height: 20px; margin: 0px; border-radius: 3px; padding-left: 6px; padding-right: 6px; line-height: 120%; font-size: 14px;"]  {
	padding-left: 4px !important;
	padding-right: 4px !important;
	margin-left: -2px !important;
	max-width: calc(100% + 3px) !important;
}


.notion-table-cell-text {
    padding: 3px !important;
}

div[style*='border-bottom: 2px solid rgb(55, 53, 47);'] {
	border-bottom: 2px solid transparent !important;
}

/* =============================
   Equation Styles
   ============================= */
.notion-text-equation-token {
    font-size: 14px;
    padding: 3px !important;
    margin: -3px -3px;
}

/* =============================
   Header Block Styles
   ============================= */
/* .notion-sub_header-block.notion-selectable > div > .notranslate {
	padding-top:0 !important;
    margin-top: -16px !important;
}

.notion-sub_header-block.notion-selectable > div > div {
    margin-top: -14px !important;
    margin-bottom: -6px !important;
    margin-left: -38px !important;
}

.notion-sub_header-block.notion-selectable {
    margin-left: -38px !important;
} */

.notion-sub_header-block.notion-selectable > div {
/*     border-bottom: 7px solid transparent; */
	margin-bottom: 10px;
    margin-left: -30px !important;
	padding-left: 8px;
}

.notion-sub_header-block.notion-selectable > div > .notranslate,
.notion-sub_header-block.notion-selectable > div > div {
    margin-top: -7px !important;
}

.notion-sub_sub_header-block.notion-selectable > div {
/*     border-bottom: 7px solid transparent; */
	margin-bottom: 5px;
    margin-left: -20px !important;
	padding-left: 8px;
}

.notion-sub_sub_header-block.notion-selectable > div > .notranslate,
.notion-sub_sub_header-block.notion-selectable > div > div {
    margin-top: -7px !important;
}


h3 {
    font-size: 24px !important;
    font-weight: 600 !important;
    padding-bottom: 2px !important;
}

h4 {
    font-weight: 500 !important;
    padding-top: 9px !important;
    padding-bottom: 4px !important;
}


/* =============================
   Peek Renderer Positioning
   ============================= */
.notion-peek-renderer > div {
    height: calc(98%) !important;
    margin-top: -52px !important;
}

/* =============================
   Gallery View Styles
   ============================= */
.notion-board-view div[style*='width: 180px;'] {
    width: 100px !important;
    padding: 0px !important;
}

.notion-board-view div[style*='display: flex; padding: 8px 10px; position: relative;'] {
    padding: 2px 6px !important;
    border-radius: 0px !important;
}

.notion-board-view .notion-collection-item a {
    min-height: 2px !important;
}

.notion-board-view div {
    font-size: 12px !important;
}

div[style*='grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));'] {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)) !important;
	gap: 8px !important;
}

.notion-gallery-view * {
	BACKGROUND: TRANSPARENT !IMPORTANT;
    font-size: 13.5px !important;
}
.notion-gallery-view div.notion-record-icon.notranslate {
    padding-bottom: 4px !important;
}

/* div[style='max-width: 100%; width: auto; white-space: pre-wrap; word-break: break-word; caret-color: rgb(50, 48, 44); flex-grow: 1; padding: 2px 1px; font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; pointer-events: none;'] , div[style='max-width: 100%; width: auto; white-space: pre-wrap; word-break: break-word; caret-color: rgb(50, 48, 44); pointer-events: none; flex-grow: 1; padding: 2px 1px; font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500;'] , div[style='max-width: 100%; width: auto; white-space: pre-wrap; word-break: break-word; caret-color: rgb(50, 48, 44); pointer-events: none; flex-grow: 1; padding: 2px 1px; font-size: 14px; line-height: 1.5; min-height: 1em; font-weight: 500; color: rgb(50, 48, 44); -webkit-text-fill-color: rgba(70, 68, 64, 0.45);'] , div[style='max-width: 100%; width: auto; white-space: pre-wrap; word-break: break-word; caret-color: rgb(50, 48, 44); flex-grow: 1; padding: 2px 1px; font-size: 14px; line-height: 1.5; min-height: 1em; font-weight: 500; color: rgb(50, 48, 44); -webkit-text-fill-color: rgba(70, 68, 64, 0.45); pointer-events: none;'] {
	white-space: nowrap !important;
    animation: pastelRainbow 60s infinite linear;
    animation-delay: -30s;
}
 */
.notion-gallery-view div[style*="max-width: 100%"][style*="white-space: pre-wrap"][style*="caret-color: rgb(50, 48, 44)"][style*="font-weight: 500"] {
    --lum: 50%; /* Define luminance here */
    --sat: 60%; /* Define saturation here */
/*     white-space: nowrap !important; */
    animation: pastelRainbow 60s infinite linear;
    animation-delay: -30s;
	opacity: 1 !important;
}



/* =============================
   Displayed Properties Margins
   ============================= */
.notion-gallery-view div[style*='padding: 8px 10px 10px'] {
    padding: 8px 9px 5px !important;
}

.notion-gallery-view div[style*='padding: 8px 10px'] {
    padding: 2px 9px 0px !important;
}
.notion-gallery-view div[style*='margin: 0px 6px 2px'] {
/*     padding: 2px 9px 0px !important; */
/*     margin-bottom: -3px; */
	margin-bottom: -2px !important;
}

.notion-gallery-view div[style*='padding-top: 0px; padding-bottom: 10px'] {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
}

.notion-gallery-view div[style*='padding-top: 0px; padding-bottom: 8px'] {
    padding-top: 0 !important;
    padding-bottom: 2px !important;
}

.notion-gallery-view div[style*='height: 88.3125px'],
.notion-gallery-view div[style*='height: 101.25px'] {
    padding: 3px !important;
    padding-bottom: 2px !important;
    height: 71px !important;
}

.notion-gallery-view div[style*='padding-bottom: 16px;'] {
    padding-bottom: 0px !important;
}

.notion-gallery-view div[style*='display: flex; align-items: center; height: 48px;'] {
    opacity: 0.5;
}

/* =============================
   Page Icon Styles
   ============================= */
:root {
    --icon: 56px;
}

.notion-page-controls > div:nth-child(1) {
	padding-top: 53px !important;
	margin-left: -20px;
	position: absolute;
	z-index: 1000;
}
.notion-page-controls > div:nth-child(3) {
	padding-top: 53px !important;
}
.layout-content > div > div > div > div > .notion-record-icon {
    margin-top: 40px !important;
    margin-bottom: -40px !important;
    width: var(--icon) !important;
    height: var(--icon) !important;
}

.layout-content > div > div > div > div > .notion-record-icon > div > div {
    width: var(--icon) !important;
    height: var(--icon) !important;
}

img[style*='width: 78px'][style*='height: 78px'] {
    width: var(--icon) !important;
    height: var(--icon) !important;
}

img[style*='width: 124.32px'][style*='height: 124.32px'] {
    width: var(--icon) !important;
    height: var(--icon) !important;
}

div:has(> svg.addPageCover) {
    display: none !important;
}

div:has(> h1) {
    padding-left: 70px;
    margin-top: -20px;
}


/* 
h1 {
	margin-top: -4px !important;
	padding-bottom: 6px;
} */

.notion-peek-renderer div:has(> h1) {
    padding-left: 70px;
    margin-top: -50px;
}

.notion-page-controls > div {
	font-size: 0!important;
}

/* =============================
   Button Styles
   ============================= */
.notion-button-block {
    padding-bottom: 1px;
    margin-left: -12px;
    margin-top: -4px !important;
}

.notion-button-block > div > div > div > div {
    border-color: #00000000 !important;
    background: #00000000;
}

/* =============================
   Table View Styles
   ============================= */
.notion-table-view > div > div > div[role='button'] {
    display: none !important;
}

.notion-table-cell-text {
    padding: 3px 3px 3px 3px !important;
}

.notion-table-content {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.notion-table-cell-text {
    text-align: center !important;
}

.notion-table-content > div > div > div {
    padding-top: 2px !important;
    padding-bottom: 12px !important;
}

/* Hide the click and drag to add rows button on tables */
div[role='dialog'][style*='background: rgb(15, 15, 15);'] {
    display: none;
}

.notion-table-row td {
    border: 1px solid #cbcaca7a !important;
}

.notion-table-block .notion-scroller.horizontal {
    overflow-x: hidden !important;
}

.notion-table-view div[style='height: 41.9922px;'] {
    margin-left: -28px;
    height: 38px !important;
    opacity: 0.4;
}

.quickActionContainer {
    width: 24px !important;
}

.quickActionContainer > div > div {
    width: 20px !important;
	margin-left: 4px !important;
}

.peekCenter {
	opacity:1 !important;
}

.quickActionContainer * {
	font-size: 0 !important;
	background: transparent !important;
}

.notion-table-view div[style*='min-width: 52px;'] {
    min-width: 40px !important;
    width: 40px !important;
}

.notion-table-view div[style*='min-width: 76px;'] {
    min-width: 56px !important;
    width: 56px !important;
}

.notion-table-view div[style='width: 28px;'] {
    width: 16px !important;
}

.notion-table-view div[style='width: 52px;'] {
    width: 32px !important;
}

/* New Sub Item Line */
.notion-table-view div[style='user-select: none; transition: background 20ms ease-in; cursor: pointer; display: flex; align-items: center; height: 32px; width: 100%; padding-left: 53px; font-size: 14px; line-height: 20px; border-bottom: 1px solid rgb(233, 233, 231); left: 0px; right: 0px;'] {
    margin-left: -28px;
}

.notion-selectable .notion-collection_view-block > div > div {
    border: none !important;
}

.notion-table-view-header-row {
    box-shadow: transparent -3px 0px 0px, rgb(233, 233, 231) 0px 1px 0px !important;
	box-shadow: none !important;
}

.notion-table-view > div *[style*='background: white;'] {
    background: hsla(130, 0%, 72%, 0) !important;
}

/* =============================
   Inline Database Styles
   ============================= */
.notion-collection_view-block.notion-selectable div[contenteditable="false"].pseudoSelection[data-content-editable-void="true"][style="user-select: none; --pseudoSelection--background: transparent; border-top: 1px solid rgb(233, 233, 231); display: flex; background: white; z-index: 85; font-size: 14px; height: 32px; min-width: 100%; clip-path: polygon(0% -20%, 100% -20%, 100% 100%, 0% 100%); left: 0px; box-sizing: border-box;"] {
    display: none !important;
}

/* =============================
   Group Toggles Styles
   ============================= */
.notion-collection_view-block.notion-selectable div[style*="display: flex; align-items: center; height: 42px; padding-top: 8px; position: sticky;"] {
    margin-left: -40px !important;
    opacity: 0.6
}

.notion-table-view-add-row {
    display: none !important;
}


.notion-table-view {
    margin-left: 30px !important;
	margin-right: -60px !important;
	padding-right: 0px !important;
}

.notion-collection_view-block {
	padding-right: 0px !important;
	
}

.notion-table-view-row, .notion-table-view-header-row {
    margin-left: -28px;
}

.notion-table-view-header-row {
}

.notion-table-view-cell:not([data-col-index='0']):not([data-col-index='1']) > div > div > div[style*='pointer-events: none;'] {
    display: none !important;
}

.notion-collection-view-body.horizontal.notion-scroller {
    overflow-x: hidden !important;
}

/* =============================
   Code Block Styles
   ============================= */
.notion-code-block.line-numbers > .notranslate {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 20px !important;
    font-family: 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace;
}

/* .notion-code-block > div > div {
    background: #aaaaaa12 !important;
    width: auto !important;
}

 */
.notion-code-block > div > div > div > div {
	margin-top: -20px;
	margin-bottom: -20px;
}

span.token.operator {
    background: none !important;
}

.pseudoSelection > .notranslate.notion-record-icon {
    display: none !important;
}

.notion-callout-block.notion-selectable > div > div {
    padding-top: 18px !important;
    padding-bottom: 12px !important;
    margin-top: -6px !important;
    margin-bottom: 6px !important;
    background: #99b0b538;
    background: hsla(192, 50%, 63%, .18) !important;
    border-radius: 10px !important;
    border: none !important;
}

.notion-callout-block.notion-selectable {
    padding-top: 4px !important;
}

.notion-transclusion-block-halo {
    border-color: #cc6ca23d !important;
    display: none;
}

/* =============================
   Inline Code Styles
   ============================= */
span.notion-enable-hover[style*='font-family:"SFMono-Regular"'] {
    background: #00000000 !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-top: 0px !important;
    font-size: 100% !important;
    font-family: inherit !important;
    border-radius: 4px;
    color: hsl(201, 89%, 35%) !important;
}

span.notion-enable-hover[style*='font-family:'] {
    color: inherit !important;
}

.notion-selectable.notion-text-block > div {
    border-radius: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-left: -4px !important;
    margin-right: -4px !important;
    padding-bottom: 1px;
    margin-bottom: -1px;
}

/* =============================
   Seperator Styles
   ============================= */
.notion-divider-block.notion-selectable {
    opacity: 0;
}


/* =============================
   Mermaid Diagram
   ============================= */
.notion-caption-type-block > div > div {
	background-color: #0000 !important;
}


/* =============================
   Peek Renderer Styles
   ============================= */
.notion-peek-renderer > div:nth-child(2) {
    --color: hsla(0, 0%, 100%, .97);
    background: #ffffffff !important;
    max-width: calc(940px + 2 * var(--side)) !important;
    border-radius: 0.5rem !important;
}

.notion-peek-renderer > div:nth-child(2) {
    background-image: 
        linear-gradient(var(--color), var(--color)), 
        url('https://raw.githubusercontent.com/Kisara-k/wallpapers/refs/heads/main/Linie_inverted.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


.layout {
/*     --content-width: minmax(800px, 1fr); */
    --margin-width: 46px !important;
    grid-template-columns:
    width: 100%;
}



/* =============================
   Page Style Styles
   ============================= */
:root {
    --side: -80px;
    --side-main: -80px;
    --block-space: 0px;
    --margin-width: 0px !important;
    --text-block-top: -1px;
}

.notion-scroller.vertical {
    scrollbar-width: thin;
    scrollbar-color: #0295900a transparent;
}

.notion-page-block.notion-selectable > .notranslate, h1 {
    font-size: 33px !important;
    margin-bottom: -10px !important;
    font-weight: 400 !important;
}

.notion-text-block.notion-selectable,
.notion-callout-block.notion-selectable > div > div > div > .notranslate {
    padding-top: var(--block-space) !important;
    margin-top: var(--text-block-top) !important;
    padding-bottom: 6px !important;
}

.layout-content-with-divider.layout-content > div > div > div > div > div {
/*     display: none !important; */
	padding-top: 20px;
}



.layout-center-peek > .layout-content-with-divider > div > div > div > div > div > div > div > div  {
	margin-bottom: -6px !important;
}

.layout-content-with-divider {
	border-bottom: none;
	padding-bottom: 0px !important;
	margin-bottom: 14px !important;
}

div[style*='user-select: none; transition: background 20ms ease-in; cursor: pointer; display: flex; align-items: center; color: rgba(70, 68, 64, 0.45); font-size: 14px; border-radius: 4px; padding-left: 6px; padding-right: 6px; height: 34px; width: auto; grid-area: 1 / 1;'] {
	margin-left: -34px;
	margin-top: -28px;
	width:28px !important;
}

.layout-content {
	margin-top: 0px !important;
}


.notion-page-content {
    max-width: 100% !important;
    margin-top: 0px !important;
	padding-top: 0px !important;
    line-height: 1.4 !important;
    align-items: center !important;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 15.5px !important;
}

.layout.layout-wide {
    --margin-width: 60px;
    padding-bottom: 1200px !important;
}

.notion-selectable {
/*     max-width: 800px !important; */
}

.notion-gallery-view > div > div > div > div[role='button'] {
    display: none !important;
}

.notion-peek-renderer {
    background: #fffffff5 !important;
    margin-left: -60px !important;
    margin-right: -60px !important;
}

/* 
.notion-peek-renderer > div {
	box-shadow: none !important;
}
 */



.notion-peek-renderer > div > div > div {
	border:5px;
	border-color: #f00;
}

/* .layout {
    --content-width: minmax(800px, 1fr);
    --margin-width: 46px !important;
    grid-template-columns:
    [full-start] var(--margin-left-width, var(--margin-width)) 
    [content-start] var(--content-width) 
    [content-end] var(--margin-right-width, var(--margin-width)) 
    [full-end] 
    !important;
    width: 100%;
} */


/* .ignore-scrolling-container {
    padding-right: 100px !important;
    margin-right: 100px !important;
} */

/* Table of Contents Sidebar */

.ignore-scrolling-container {
    margin-left: 12px !important;
	opacity:0.6;
}

.ignore-scrolling-container > div > div > div > div > div > div > div > div[style*='background-color: rgb(50, 48, 44);'] {
    background-color: rgba(10, 133, 164, .87) !important; /* Replace with your desired color */
}


.layout-center-peek {
    padding-bottom: 1200px !important;
}

.notion-selectable.notion-table-block {
    width: 100% !important;
}

.notion-peek-renderer > div {
    height: calc(98%) !important;
    margin-top: -58px !important;
}

.notion-peek-renderer > div > div > div > div {
    padding-left: 5px !important;
    margin-top: -10px !important;
}

.notranslate::after {
    visibility: hidden !important;
}

.notion-modal-underlay {
	background: transparent !important;
}
.notion-dialog {
	background: transparent !important;
	box-shadow: none !important;
}
