:root {
  --block-space: 0px;
}

.notion-table-view-add-row {
	display: none !important;
}

.notion-numbered_list-block.notion-selectable > div, .notion-bulleted_list-block.notion-selectable > div, .notion-toggle-block.notion-selectable > div {
  	--factor: 7px;
	padding-bottom: 0px !important;
	margin-bottom: calc(-6px + var(--factor)) !important;
	margin-top: calc(-1px - var(--factor)) !important;
	margin-left: -4px !important;
}


.notion-numbered_list-block.notion-selectable > div > .pseudoSelection {
	padding-bottom: 1px !important;
}
.notion-bulleted_list-block.notion-selectable > div > .pseudoSelection {
	padding-bottom: 1px !important;
}


/*
.notion-toggle-block.notion-selectable > div {
	margin-left: -28px !important;
}
.notion-toggle-block.notion-selectable > div > .pseudoSelection > div {
	display:flex !important;
	margin-left: 27px !important;
	padding-left: 8px;
	padding-right: 34px;
	margin-right: -6px !important;
	scale:0.7;
	opacity:0.5;
}
*/

.notion-page-block.notion-selectable > .notranslate {
    font-size: 33px !important;
    margin-bottom: -10px !important;
	font-weight: 400 !important;
}

.notion-text-block.notion-selectable > div > div > .notranslate, .notion-callout-block.notion-selectable > div > div > div > .notranslate {
	padding-top: var(--block-space) !important;
	margin-top: -2px!important;
	padding-bottom: 6px !important;
}



.layout-content-with-divider.layout-content > div > div > div > div > div {
	display: none !important;
}


h3 {
    padding-bottom: 10px !important;
}
.notion-sub_header-block.notion-selectable > div > .notranslate {
	margin-top: -14px !important;
}
.notion-sub_header-block.notion-selectable > div > div {
	margin-top: -14px !important;
	margin-bottom: -6px !important;
	margin-left: -28px !important;
	width: 816px !important;
}


h4 {
	padding-top:8px !important;
	padding-bottom:4px !important;
}
.notion-sub_sub_header-block.notion-selectable > div > .notranslate, .notion-sub_sub_header-block.notion-selectable > div > div  {
	margin-top: -7px !important;
}
.notion-sub_sub_header-block.notion-selectable {
  	border-bottom: 7px solid transparent;
	margin-left: -1px !important;
}
.notion-sub_sub_header-block.notion-selectable > div > div {
	margin-top: -3px !important;
	margin-left: -28px !important;
	width: 816px !important;
}

/* For Highlights */

.notion-sub_sub_header-block.notion-selectable {
	margin-left: -9px !important;
} h4 {
	padding-left:6px !important;
}



.notion-sub_header-block.notion-selectable > div > div > .pseudoSelection > div , .notion-sub_sub_header-block.notion-selectable > div > div > .pseudoSelection > div {
	margin-left: 50px !important;
	padding-left:4px !important;
	color: #0000;
}

.notranslate::after {
	visibility: hidden;
}

.notion-toggle-block.notion-selectable > div > .pseudoSelection > div {
	opacity: 0.8;
}

.notion-callout-block.notion-selectable > div > div {
	padding-top:18px!important;
	padding-bottom:12px!important;
	margin-top:-6px!important;
	margin-bottom:6px!important;
	background: #99b0b538;
	background: #aac2c838 !important;
 	border-radius: 10px !important;
	border: none!important;
}


.notion-callout-block.notion-selectable {
	padding-top:4px!important;
}

/* Seperator */

.notion-divider-block.notion-selectable {
	opacity: 0;
}

/* Code Block */

.notion-enable-hover:nth-of-type(2), div.notion-text-block.notion-selectable > div > div > .notranslate > .notion-enable-hover, .notion-numbered_list-block.notion-selectable > div > div > div > .notranslate > .notion-enable-hover,  .notion-bulleted_list-block.notion-selectable > div > div > div > .notranslate > span.notion-enable-hover{
    background: #00000000 !important;
	padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top:0px !important;
    font-size: 100% !important;
	color: #408bb5 !important;
  	/*font-family: inherit !important;*/
}

.notion-table-view-cell:not([data-col-index="0"]):not([data-col-index="1"]) > div > div > div[style*="pointer-events: none;"] {
	display: none!important;
}

.notion-code-block.line-numbers > .notranslate {
	padding-bottom:15px!important;
	padding-top:15px!important;
	padding-left:15px!important;
	background: #b5f2ff12 !important;
	font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
}


.pseudoSelection > .notranslate.notion-record-icon {
	display:none!important;
}

/*
.pseudoSelection > .notranslate.notion-record-icon {
	height:10px !important;
	margin-top: -40px !important;
	margin-bottom: -64px !important;
	margin-left: -50px !important;
	padding-top:100px !important;
}


.pseudoSelection > .notranslate.notion-record-icon > div > div > img {
	height:40px !important;
	width:40px !important;
}
*/

/* Page Style*/

:root {
  --side: -70px;
	--side-main: -80px;
}

.notion-page-content {
    max-width: 100% !important;
    margin-top: -6px !important;
    line-height: 1.4 !important;
    align-items: center !important;
  	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 15.5px !important;
}

.layout-wide.layout {
	margin-left: calc(var(--side-main)*2) !important;
	margin-right: var(--side-main) !important;
}
.notion-collection-view-body.horizontal.notion-scroller {
    overflow-x: hidden !important;
}

.notion-peek-renderer {
    background: #ffffffe0 !important;
	margin-left: -60px !important;
	margin-right: -60px !important;
}

.notion-peek-renderer > div:nth-child(2) {
    border-radius: 0.5rem !important;
    max-width: 905px !important;
}

.notion-peek-renderer > div {
    height: calc(98%) !important;
    margin-top:-62px !important;
}
.notion-peek-renderer > div > div > div > div {
    padding-left: 5px !important;
    margin-left: var(--side) !important;
    margin-right: var(--side) !important;
    margin-top: -10px !important;
}

.ignore-scrolling-container {
	padding-right:100px !important;
	margin-right:100px !important;
}
